
<div class="introduce">

<%= link_to drugs_show_item_path(drug.md5_id)  do%>
      <span class="pading"><strong><%= drug.product_name%></strong></span>
       <% end %>
<p><b>通用名称：</b><%= drug.name%></p>
<p><b>生产企业：</b><%= drug.producer%></p>
<p><b>成分：</b> <%=drug.ingredient%></p>
<p><b>适应症：</b><%= drug.symptom%></p>
<!-- <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1)" width="100%" color=#999 SIZE=3> -->
</div>