
<div class="introduce">
<p><b>通用名称：</b><%= drug.name%></p>
<p><b>生产企业：</b><%= drug.producer%></p>
<p><b>商品名称：</b><%= drug.product_name%></p>
<p><b>成分：</b> <%=drug.ingredient%></p>
<p><b>适应症：</b><%= drug.symptom%></p>
<!-- <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1)" width="100%" color=#999 SIZE=3> -->
</div>